{% extends "base.html" %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">درباره ما </h1>
                    <p class="lead fw-normal text-white-50 mb-0"> </p>
                </div>
            </div>
        </header>
<br>
<div class="container">
    <div class=" row">
        <center>
            <div class="col-8">
                <p align= justify>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt optio consectetur dignissimos sequi, mollitia accusantium tempore sunt earum suscipit. Fugit asperiores enim mollitia, optio porro quas eligendi dolor officiis doloribus!

                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}